version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - "/.github/actions/*"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Tokyo"
    groups:
      workflow:
        patterns:
          - "*"
    assignees:
      - "krymtkts"
  # Maintain dependencies for NuGet
  - package-ecosystem: "nuget"
    # NOTE: dependabot raises dependency_file_not_found error with root directory.
    # NOTE: directories can use glob patterns.
    directories:
      - "/"
      - "/.config"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "06:00"
      timezone: "Asia/Tokyo"
    groups:
      dotnet-tools:
        patterns:
          - "fantomas"
          - "fsharp-analyzers"
          - "Ionide.Analyzers"
          - "coverlet.console"
          - "dotnet-reportgenerator-globaltool"
      pwsh-std:
        patterns:
          - "PowerShellStandard.Library"
        update-types:
          - "patch"
      avalonia:
        patterns:
          - "Avalonia.*"
      test-libs:
        patterns:
          - "Expecto"
          - "YoloDev.Expecto.TestSdk"
    ignore:
      - dependency-name: "PowerShellStandard.Library"
        update-types:
          - "version-update:semver-major"
          - "version-update:semver-minor"
    assignees:
      - "krymtkts"
